body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.action-table .action-req {
  color: #1E3542;
font-family: Inter;
font-size: 22px;
font-weight: 600;
letter-spacing: 0.66px;
}
.action-table .action-state{
  color: #758283;
font-family: Inter;
line-height: 18px;
padding: 10px 0px;
}
.action-table .action-state span {
  color: #A51E22;
font-family: Inter;
line-height: 18px;
text-decoration-line: underline;
}
.MuiDataGrid-columnHeaders{
  background: #CCC;
}
.footer-links {
  list-style: none;
  display: flex;
  gap: 12px;
}

.footer-links li {
  margin-right: 10px; 
}

.footer-links a {
  color: #fff; 
}
.active-menu{
  background-color: #FBF0F0;
  border-right: 5px solid #A51E22;
  color: #A51E22;
}